OPENSEARCH_USER=admin
OPENSEARCH_PASS=changeme
OPENSEARCH_HOST=http://localhost:9200
QDRANT_URL=http://localhost:6333
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=command-r7b:latest
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
